.jimu-widget-groupfilter-setting {
    background-color: #FFFFFF;
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    position: relative;
    margin-top: 10px;
}

.jimu-widget-groupfilter-setting .group-container {
    width: 100%;
    margin-left: 10px;
}

.jimu-widget-groupfilter-setting .left {
    float: left;
}

.jimu-widget-groupfilter-setting .groupName-container {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jimu-widget-groupfilter-setting .groupName-textbox {
    margin-left: 10px;
    width: 275px;
}

