.jimu-widget-singlefilter-setting {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    text-align: left;
    position: relative;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.jimu-widget-singlefilter-setting .filter-layer {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.jimu-widget-groupfilter-setting .jimu-layer-chooser-from-map-withdropbox{
    margin-top: 10px;
    margin-bottom: 10px;
}

.jimu-widget-groupfilter-setting .filter-delete-button{
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    cursor: hand;
    content: url("../../images/delete.png");
    position: absolute;
    right: 0;
    top: 0;
}

.jimu-widget-groupfilter-setting .filter-delete-button:hover{
    content: url("../../images/delete_hover.png");
}